*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.jks
keystore.properties
google-services.json
node_modules/
icon/originals/
